/* Estilos.css */
.precios-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000818;

}

.precios-card {
  background-color: #fff;
  width: 300px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(238, 235, 235);
  transition: box-shadow 0.3s, transform 0.3s;

  position: relative;
  /* Añadido para posicionar los elementos hijos */

  &:hover {

    transform: scale(1.1) rotate(1deg);


  }


  .precios-card-title {
    padding: 2px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  .precios-card-price {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
  }

  .precios-card-features {
    padding: 0 0px;
    display: flex;
    flex-direction: column;


    .precios-feature {
      padding: 0px 0;
      font-size: 20px;
      color: #777;

    }
  }

  .precios-button {
    background-color: #f76c40;
    color: #ffffff;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Koulen', sans-serif;

    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #f76c40;
      transition: .2s;
      filter: drop-shadow(-10px 10px 5px #ffffff);
    }
  }

}