$color-black: #000000;

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(253, 252, 252);
    .header-informacion {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        width: 800px;
        
        .titulo {
            color: $color-black;
        }
        .informacion {
            color: $color-black;
        }
        .btn-header {
            background-color: #000000;
            color: #fff;
            padding: 20px;
            border-radius: 15px;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color: #fff;
                background-color:#ffbb00;
            }
        }
    }
    .hi{
        position: relative;
        top: 20%;
        height: 100%;
        width: 500px;
        background-repeat: no-repeat;
        background-image: url(../../assets/asistente-robot.gif);
    }
}
.header-bottom{
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}


/* Estilos para pantallas de 917px o menos */
@media screen and (max-width: 917px) {
    .header{
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 600px;
            margin-bottom: 80px;
        }
    }
  }

  /* Estilos para pantallas de 609px o menos */
@media screen and (max-width: 609px) {
    .header{
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 500px;
            margin-bottom: 80px;
        }
        .hi{
            position:relative;
            top: 15%;
            
        }
    }
  }

   /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 503px) {
    .header{
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 400px;
            margin-bottom: 80px;
        }
        .hi{
            position:relative;
            top: 9%;
            height: 100%;
            width: 100%;
        }
    }
  }
  
     /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 377px) {
    .header{
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 300px;
            margin-bottom: 80px;
        }
        .hi{
            position:relative;
            top: 9%;
            right: 15%;
            height: 100%;
            width: 100%;
        }
    }
  }
  