$color-black: #000000;

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000818;
    height: 600px;
   .robot{
    width: 500px;
    border-radius: 60%;
    box-shadow:#001018 0px 0px 50px 5px ;
   }
    .header-informacion {
        
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
       
        
        .titulo {
            color: #fff;
            font-family: 'Koulen', sans-serif;
        }
        .informacion {
            color: #fff;
            font-family: 'Cabin', sans-serif;
        }
        .btn-header {
            background-color: #121624;
            color: #fff;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 15px;
            text-decoration: none;
            font-family: 'Koulen', sans-serif;
            transition: .2s;
            &:hover{
                cursor: pointer;
                color: #fff;
                background-color:#1c2a5c;
                transition: .2s;
            }
        }
    }
    
}



/* Estilos para pantallas de 917px o menos */
@media screen and (max-width: 917px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-informacion{
            gap: 5px;
            width: 600px;
            margin-bottom: 80px;
        }
       
    }
    .hi{
        width: 400px;
        border-radius: 50%;
        .robot{
            width: 100%;
            border-radius: 50%;
        }
       }
  }

  /* Estilos para pantallas de 609px o menos */
@media screen and (max-width: 609px) {
    .header{
       
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 500px;
            margin-bottom: 80px;
        }
       
    }
    .hi{
        width: 300px;
        .robot{
            width: 100%;
        }
       }
  }

   /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 503px) {
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 350px;
            margin-bottom: 80px;
        }
       .hi{
       
       width: 300px;
        
        .robot{
            width: 100%;
           }
       }
    }
  }
  
     /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 377px) {
    .header{
        flex-direction: column;
        .hi{
            width: 250px;
        }
        .header-informacion{
            gap: 5px;
            width: 300px;
            margin-bottom: 80px;
        }
       
    }
    
  }
  