$color-black: #000000;

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(253, 252, 252);
    
    .header-informacion {
        
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
       
        
        .titulo {
            color: $color-black;
            font-family: 'Cabin', sans-serif;
        }
        .informacion {
            color: $color-black;
            font-family: 'Cabin', sans-serif;
        }
        .btn-header {
            background-color: #000000;
            color: #fff;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 15px;
            text-decoration: none;
            font-family: 'Koulen', sans-serif;
            &:hover{
                cursor: pointer;
                color: #fff;
                background-color:#ffbb00;
            }
        }
    }
    
}
.header-bottom{
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
}


/* Estilos para pantallas de 917px o menos */
@media screen and (max-width: 917px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-informacion{
            gap: 5px;
            width: 600px;
            margin-bottom: 80px;
        }
       
    }
   
  }

  /* Estilos para pantallas de 609px o menos */
@media screen and (max-width: 609px) {
    .header{
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 500px;
            margin-bottom: 80px;
        }
       
    }
  }

   /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 503px) {
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .header-informacion{
            gap: 5px;
            width: 350px;
            margin-bottom: 80px;
        }
       .hi{
       
       height: 300px;
        
        .robot{
            width: 100%;
           }
       }
    }
  }
  
     /* Estilos para pantallas de 503px o menos */
@media screen and (max-width: 377px) {
    .header{
        flex-direction: column;
        
        .header-informacion{
            gap: 5px;
            width: 300px;
            margin-bottom: 80px;
        }
       
    }
    h2{
        font-size: 20px;
    }
  }
  