$color-primario: #ffffff;
.logo-img{
    width: 80px;
    border-radius: 8px;
    border: solid;
}
.nav{
    background-color: #000818;
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out; 
    font-size: 20px;
    .nav-link{
        color: #fff;
    }
}
.navbar-toggler{
    color: #000000;
    font-size: 15px;
    background-color: #fff;
    
}
.nav.scrolled {
    background-color: #000818be;
    transition: background-color 1s ease-in-out;
   
    .logo-img{
        border-radius: 8px;
        
    }
    .nav-link{
        color: #fff;
        font-family: 'Koulen', sans-serif;
        
    }
    .active{
        color: rgb(255, 255, 255);
    }
    .navbar-toggler{
        border: none;
        font-size: 14px;
        background-color: #fff;
        
    }
    .navbar-toggler-icon{
        color: #fff;
    }
  }
  